@use "../util" as u;
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1{
  font-size:clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
  

}
h2{
  font-size: clamp(u.rem(25), u.rem(16) + 1vw, u.rem(30));
}

p {
  margin-top: 0;
  font-size:1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color:var(--link-color);
}
